<nav class="flex flex-col md:flex-row gap-4 md:gap-8 z-10 transform hover:scale-95 transition-all duration-500">
  <NavItem href="/MazeSizeSelection" svgClass="text-purple-400 group-hover:text-purple-300" pathData="M13 10V3L4 14h7v7l9-11h-7z" title="JUGAR" description="Desafía el laberinto" />
  <NavItem href="/History" svgClass="text-blue-400 group-hover:text-blue-300" pathData="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" title="HISTORIA" description="Descubre los secretos" />
</nav>
