@page "/"

<PageTitle>Home</PageTitle>
<h1 class="text-3xl font-bold underline m-4">
    Mi laberintooo
</h1>
<div class="m-6">
    <a href="/Characters" class="border-2 border-black p-4 bg-gray-800">Personajes</a>
    <a href="/PlayerSelection" class="border-2 border-black p-4 bg-gray-800">Selección de jugadores</a>
    <a href="/Maze" class="border-2 border-black p-4  bg-gray-800">Laberinto</a>
    <a href="/History" class="border-2 border-black p-4  bg-gray-800">Historia</a>
</div>
<p class="font-bold bg-red-200 text-black underline">se vienen cositas</p>