@page "/"

<PageTitle>Home</PageTitle>
<h1 class="text-3xl font-bold underline">
    Mi laberintooo
</h1>
<a href="/Maze" class="border-2 border-black p-4 m-4 bg-gray-200">Jugar</a>
<p class="font-bold bg-red-200 underline">se vienen cositas</p>