@page "/Maze"
@using Microsoft.JSInterop 
@using AnimeMaze.Data
@using AnimeMaze.Models
@inject IJSRuntime JSRuntime

<PageTitle>Maze</PageTitle>

<div role="container" class="flex flex-col h-screen overflow-hidden">
    <MazeHeader ResetMaze="ResetMaze" />

    <main class="flex flex-col gap-2 bg-black items-center p-2 flex-grow">
        <MazeGrid game="LabyrinthData.Game" /> 
        <MazeNavigation MovePlayer="MovePlayer" />
    </main>
</div> 

<script>
    window.addKeyListener = function (dotNetHelper) {
        document.addEventListener('keydown', function (event) {
            dotNetHelper.invokeMethodAsync('OnKeyPress', event.key)
        });
    };
</script>

@code {
    private Player? player;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (PlayerData.Players.Count > 0)
            {
                player = PlayerData.Players[0]; // Inicializar el jugador actual
            }
            await JSRuntime.InvokeVoidAsync("addKeyListener", DotNetObjectReference.Create(this));
        }
    }

    private void MovePlayer(string direction)
    {
        player?.MovePlayer(direction);
        StateHasChanged();
    }

    [JSInvokable]
    public async Task OnKeyPress(string key)
    {
        switch (key)
        {
            case "ArrowUp":
                MovePlayer("up");
                break;
            case "ArrowDown":
                MovePlayer("down");
                break;
            case "ArrowLeft":
                MovePlayer("left");
                break;
            case "ArrowRight":
                MovePlayer("right");
                break;
        }
        await InvokeAsync(StateHasChanged);
    }

    private void ResetMaze()
    {
        LabyrinthData.ResetGame();
        StateHasChanged();
    }
}
